@import '../core/mixins.scss';
@import '../core/variables.scss';

.detail {
  max-width: 600px;
  min-width: 450px;
  background-color: $greyMedium;
  &__wrapper {
    height: calc(100vh - 85px);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $grey;
  }
  &__shield,
  &__back {
    display: flex;
    align-items: center;
    &--img {
      width: 50px;
    }
  }
  &__back {
    border: none;
    &--img {
      width: 20px;
    }
  }
  &__back {
    justify-content: flex-end;
  }
  &__name {
    padding: 5px;
  }
  &__main {
    display:flex;
    justify-content: center;
    padding: 15px 30px;
    gap: 15px;
    &--404 {
      display: flex;
      justify-content: center;
      padding: 15px;
    }
  }
  &__image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    place-self: center end;
    &--404 {
      width: 300px;
      height: 200px;
      object-fit: cover;
    }
  }
  &__info {
    max-width: 200px;
    place-self: center;
    &--item {
      line-height: 28px;
    }
  }
}

.divider {
  &::after {
    content: ' / ';
  }
  &:last-child {
    &::after {
      content: none;
    }
  }
}

.block {
  display: block;
}

.icon {
  width: 20px;
  padding-left: 3px;
  margin-bottom: -2px;
}

.gryffindor, .no_encontrada {
  @include houseDetail($gryffindorDark);
}

.hufflepuff {
  @include houseDetail($hufflepuffDark);
}

.ravenclaw {
  @include houseDetail($ravenclawDark);
}

.slytherin {
  @include houseDetail($slytherinDark);
}

.not_found {
  @include houseDetail($greyDarker);
}

