@import '../core/mixins.scss';
@import '../core/variables.scss';

.detail {
  @include tablet {
    min-width: 600px;
    min-height: 400px;
  }
  &.gryffindor {
    @include houseDetail($gryffindorDark, $gryffindorLight, $greyDarker);
  }
  &.hufflepuff {
    @include houseDetail($hufflepuffDark, $hufflepuffLight, $greyDarker);
  }
  &.ravenclaw {
    @include houseDetail($ravenclawDark, $ravenclawLight, $greyLight);
  }
  &.slytherin {
    @include houseDetail($slytherinDark, $slytherinLight, $greyLight);
  }
  &.not_found {
    @include houseDetail($greyDark, $greyMedium, $greyLight);
  }
  &__wrapper {
    padding: 15px;
    @include tablet {
      place-self: center;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $greyDarkTrans;
  }
  &__shield,
  &__back {
    display: flex;
    align-items: center;
    &--img {
      width: 50px;
    }
  }
  &__back {
    border: none;
    justify-content: flex-end;
    @include tablet {
      font-size: 18px;
    }
    &--img {
      width: 20px;
    }
  }
  &__name {
    padding: 5px;
    color: $greyDarker;
    text-align: center;
    @include tablet {
      font-size: 28px;
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 30px;
    gap: 15px;
    @include tablet {
      flex-direction: row;
    }
    &--404 {
      display: flex;
      justify-content: center;
      padding: 15px;
    }
  }
  &__image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    place-self: center;
    @include tablet {
      width: 225px;
      height: 300px;
      place-self: center;
    }
    &--404 {
      width: 300px;
      height: 200px;
      object-fit: cover;
      @include tablet {
        width: 450px;
        height: 300px;
      }
    }
  }
  &__info {
    max-width: 200px;
    place-self: center;
    text-align: center;
    @include tablet {
      font-size: 18px;
      text-align: left;
      padding-left: 15px;
    }
    &--item {
      line-height: 28px;
      @include tablet {
        line-height: 32px;
      }
    }
  }
}

.divider {
  &::after {
    content: ' / ';
  }
  &:last-child {
    &::after {
      content: none;
    }
  }
}

.block {
  display: block;
  padding-bottom: 5px;
}

.icon {
  width: 20px;
  padding-left: 3px;
  margin-bottom: -2px;
}
