@import '../core/mixins.scss';
@import '../core/variables.scss';

.character {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 150px 10px 10px;
  justify-content: center;
  place-self: center;
  @include tablet {
    padding: 15px 10px 10px 25%;
  }
  &__item {
    @include corner;
    &--gryffindor {
      @include houses($gryffindorDark, $gryffindorLight, $greyDarker);
    }
    &--hufflepuff {
      @include houses($hufflepuffDark, $hufflepuffLight, $greyDarker);
    }
    &--ravenclaw {
      @include houses($ravenclawDark, $ravenclawLight, $greyLight);
    }
    &--slytherin {
      @include houses($slytherinDark, $slytherinLight, $greyLight);
    }
    &--not-found {
      @include houses($greyMedium, $grey, $greyDarker);
      & .character__image {
        filter: grayscale(100%);
      }
    }
  }
  &__link {
    display: grid;
    place-items: center;
    max-width: 150px;
    padding: 15px 15px 0;
  }
  &__image {
    width: 146px;
    height: 200px;
    object-fit: cover;
    
  }
  &__info {
    display: grid;
    place-content: center;
    padding: 15px 0;
    height: 57px;
  }
  &__name {
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    word-spacing: 100vw;
  }
  &__species {
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
    text-align: center;
  }
}