.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__item {
    width: 30%;
    min-width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  &__label {
    color: #ebebeb;
  }
  &__input {
    border: 2px solid #6b6b6b;
  }
}