@import '../core/variables.scss';

.header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 0;
  background-color: $greyMedium;

  &__title {
    text-align: center;
    font-family: 'Simonetta', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: $greyLight;
  }
  &__img {
    width: 50px;
    padding-bottom: 15px;
    padding-right: 15px;
  }
}