@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin corner {
  border-radius: 3px;
}

@mixin houses($border, $bkg, $text) {
  border: 2px solid $border;
  background-color: $bkg;
  & .character__name,
  .character__species {
    color: $text;
  }
  & .character__image {
    border: 2px solid $border;
    background-color: $border;
  }
}

@mixin houseDetail($colorDark, $colorLight, $colorText) {
  background-color: $colorLight;
  border: 2px solid $colorDark;
  @include corner;
  & .detail {
    &__name, &__back {
      text-shadow: 2px 2px 3px $colorDark;
    }
    &__image {
      background-color: $colorDark;
      border: 2px solid $colorDark;
      @include corner;
    }
    &__info {
      color: $colorText;
    }
  }
  .bottom {
    border-bottom: 2px solid $colorDark;
  }
}
