$gryffindorDark: #831e1a;
$gryffindorLight: #c1120c;

$hufflepuffDark: #c9a31c;
$hufflepuffLight: #e8bb1f;

$ravenclawDark: #223075;
$ravenclawLight: #2c3d97;

$slytherinDark: #216333;
$slytherinLight: #308e49;

$greyLight: #ebebeb;
$grey: #b3b3b3;
$greyMedium: #6b6b6b;
$greyMediumTrans: #6b6b6bf2;
$greyDark: #3a3a3a;
$greyDarkTrans: #3a3a3acc;
$greyDarker: #111111;
