.header {
  padding: 10px;
  &__title {
    text-align: center;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__item {
    width: 30%;
    min-width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
  }
  &__input {
    border: 2px solid grey;
  }
}


.character {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  &__item {
    display: grid;
    place-items: center;
    padding: 15px 0;
    &--gryffindor {
      border: 2px solid #C1120C;
    }
    &--hufflepuff {
      border: 2px solid #E8BB1F;
    }
    &--ravenclaw {
      border: 2px solid #2C3D97;
    }
    &--slytherin {
      border: 2px solid #308E49;
    }
  }
  &__image {
    width: 150px;
    height: 200px;
    object-fit: cover;
    padding: 0 15px 15px;
  }
  &__name {
    font-size: 16px;
  }
}
